VITE_APP_TITLE=Simple Chatbot
VITE_SERVER_URL=... #optional: if serving frontend externally from backend, or requesting agent from API
VITE_OPEN_MIC= # Can the user speak freely, or do they need to wait their turn? 
VITE_SHOW_CONFIG= # Show demo config options first
