# Python
**/__pycache__
**/*.py[oc]
**/build
**/dist
**/wheels
**/*.egg-info

# Environment
**/.venv
**/.env
**/.vercel
**/.DS_Store
.env
.env.*

# Project specific
/frontend/**
/examples/**
/scripts/**
fly.toml
